body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFD77A;
}

header {
    width: 100%;
    background-color: #FF7A00;
    color: white;
    padding: 10px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}



main {
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
    padding: 20px; /* Agrega un poco de espacio alrededor */
}

.container {
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px; 
}


h1 {
    background-color: #FF7A00;
    padding: 10px;
    color: white;
    margin-bottom: 20px;
}

button {
    background-color: black;
    color: white;
    padding: 10px;
    width: 90%;
    border: none;
    cursor: pointer;
}

.logo {
    width: 100px;
}

.profile-icon {
    width: 30px;
    margin-right: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.fonde{
    background-image: url(/IMG/voleibol2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    

}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}


